 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#contact-page{
    font-family: 'Poppins', sans-serif;
}


.header{
    height: 600px;
    width:100%;
    position: relative;
    height: 100vh;
}

.bg-image, .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-image{
    background: url("../images/contact.jpg") center;
    background-size: cover;
    z-index: 1;
}

.overlay{
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.header-content{
    position: relative;
    z-index: 3;
    color: white;
    margin: auto;
    text-align: center;
    line-height: 50px;
    top: 47%;
    width: 33%;
    letter-spacing: 2px;
    font-size: 1em;
    font-size: 24px;
    letter-spacing: 0.2rem;
}

@media(max-width: 850px){
    .header-content{
        font-size: 16px;
        top: 35%;
        width: 60%;
    }

    .bg-image{
        background-size: fill;
    }

    .header{
        height: 250px;
    }
}
#hero-2{
    height: 55vh;
    background-color: rgba(31, 35, 43, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 3%;
}
.contact-info{
    width: 450px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}
.contact-info:nth-child(2){
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
}
.contact-info .icon{
    width: 40px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}
.contact-info h4{
    margin-bottom: 1rem;
}
.contact-info p:first-of-type{
    margin-bottom: 1rem;
}
#map{
    position: relative;
    width: 100%;
}
#directions{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #fff;
    padding: 1rem;
    font-size: 12px;
}
#directions h4{
    font-size: 14px;
    margin-bottom: .5rem;
}
#directions p{
    margin-bottom: .5rem;
}
#directions a{
    text-decoration: none;
}

@media screen and (max-width:768px){
    #hero-2{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 3%;
}
.contact-info:nth-child(2){
    border:none;
}
.contact-info{
    width: 100%;
    
}
}