@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
html {
    font-family: 'poppins';
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/facilities/facilities-hero.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 60px;
}

.facilities-hero {
    margin-top: 150px;
    color: white;
}

.hero-text {
    margin: auto;
}

.hero-text h4 {
    text-align: center;
    margin-bottom: 30px
}

.hero-text p {
    text-align: center;
    font-size: 18px;
}

hr {
    border-top: 1px solid rgb(187, 180, 180);
}

.palm-view-hero h1 {
    font-weight: 500px;
    line-height: 40px;
    font-size: 65px;
    color: #FFFFFF;
}

.facilities1 {
    background-image: linear-gradient(to bottom, rgba(34, 29, 31, 0.9), rgba(34, 29, 31, 0.9)), url("../images/facilities/facilities1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    backdrop-filter: blur(4px);
}

.facilities-div {
    margin-bottom: 40px
}

.facilities-btn {
    background: #DBA7C1;
    color: black !important;
    position: absolute;
    top: 130px
}

.card-footer .text-muted {
    background-color: red;
}

.card img {
    height: 60vh
}

.card-body {
    height: 7vh;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 1;
}

.card-body p {
    position: relative;
    font-weight: bold;
    bottom: 10px
}


/* MEDIA QUERIES */

@media screen and (max-width: 576px) {
    .facilities-btn {
        position: relative;
        left: 150px;
        bottom: 100px
    }
    h4 {
        font-size: 18px
    }
    .card img {
        height: 40vh
    }
    .facilities1 {
        height: 40vh
    }
}

@media screen and (max-width: 768px) {
    .facilities-btn {
        position: relative;
        left: 150px;
        bottom: 100px
    }
    h4 {
        font-size: 18px
    }
    .card img {
        height: 40vh
    }
    .facilities1 {
        height: 40vh
    }
}