                @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
                html {
                    font-family: 'poppins';
                }
                
                .hero {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/index-images/hero.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 120vh;
                    margin-bottom: 60px;
                }
                
                header {
                    padding: 30px;
                }
                
                .navbar-light .navbar-nav .active>.nav-link {
                    color: white;
                }
                
                .phone {
                    position: relative;
                    top: 5px
                }
                
                [type=button]:not(:disabled),
                [type=reset]:not(:disabled),
                [type=submit]:not(:disabled),
                button:not(:disabled) {
                    border-color: #DBA7C1;
                    color: white;
                }
                
                .palm-view-hero {
                    margin-top: 250px;
                    color: white;
                }
                
                .palm-view-hero h1 {
                    font-weight: 500px;
                    line-height: 40px;
                    font-size: 65px;
                    color: #FFFFFF;
                }
                
                .palm-view-hero p {
                    font-size: 14px;
                    position: relative;
                    left: 60px;
                }
                
                hr {
                    border-top: 1px solid rgb(187, 180, 180);
                    /* width: 300px;
    position: relative;
    right: 100px; */
                }
                
                .spend p {
                    font-size: 16px;
                }
                
                .amenities-card {
                    margin-bottom: 60px;
                    padding: 30px
                }
                
                .card-body {
                    height: 70px;
                    background: rgba(34, 29, 31, 0.9);
                    color: white;
                }
                
                .card-img,
                .card-img-top {
                    height: 221px;
                }
                
                .card-text {
                    opacity: 1;
                }
                
                .card-text span {
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                }
                
                .about {
                    background: rgba(38, 47, 86, 0.3);
                    margin-bottom: 60px;
                    height: 90%;
                }
                
                .img-div img {
                    padding: 30% 0;
                    width: auto;
                    height: 100%;
                }
                
                .img-div .vl {
                    border-left: 1px solid rgba(0, 0, 0, 0.5);
                    height: 400px;
                    padding: 30% 0;
                    position: relative;
                    top: 40px;
                }
                
                .about-div {
                    padding: 15% 0;
                }
                
                .about-div h4 {
                    color: black;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
                
                .first-header p {
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                }
                
                .second-header p {
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 40px;
                }
                
                .about-btn {
                    background: #DBA7C1;
                    color: black !important;
                }
                
                .room-rate h5 {
                    color: black;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                
                .room-rate-info p {
                    text-align: center;
                    color: black;
                }
                
                .room-rate-info {
                    text-align: center;
                }
                
                .rate-btn {
                    background: #DBA7C1;
                    color: black !important;
                    margin: 10px;
                    margin-bottom: 40px;
                }
                
                .room-card {
                    margin-bottom: 20px;
                    padding: 30px
                }
                
                hr.rate-hr {
                    border: 1px solid #000;
                    margin-top: 50px;
                    /* margin-bottom: 20px */
                }
                
                .facilities h5 {
                    color: black;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                
                .facilities-info p {
                    text-align: center;
                    color: black;
                    line-height: 30px;
                    margin-bottom: 40px;
                }
                
                .facilities-info {
                    text-align: center;
                    margin-bottom: 20px;
                }
                
                .facilities-contain {
                    margin-bottom: 40px;
                }