@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
html {
  font-family: 'poppins';
}

@media screen and (max-width: 1000px) {
  body {
    text-align: center;
  }
}

.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Images/index-images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  margin-bottom: 60px;
}

@media screen and (max-width: 1000px) {
  .hero {
    width: 100vw;
    height: 70vh;
  }
  .hero .typewrite {
    width: 100vw;
  }
}

header {
  padding: 30px;
}

@media screen and (max-width: 1000px) {
  header {
    padding-bottom: 0px;
  }
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.phone {
  position: relative;
  top: 5px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  border-color: #DBA7C1;
  color: white;
}

.palm-view-hero {
  margin-top: 250px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .palm-view-hero {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .palm-view-hero .essence {
    width: 100vw;
    margin: 20px 0;
    text-align: left;
  }
  .palm-view-hero .typewrite {
    text-align: left;
  }
}

.palm-view-hero h1 {
  font-weight: 500px;
  line-height: 40px;
  font-size: 65px;
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .palm-view-hero h1 {
    width: 100vw;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.palm-view-hero p {
  font-size: 14px;
  position: relative;
  left: 60px;
}

@media screen and (max-width: 1000px) {
  .palm-view-hero p {
    position: initial;
    left: 0;
    margin: 30px 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

hr {
  border-top: 1px solid #bbb4b4;
}

.spend p {
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .spend p {
    text-align: left;
  }
}

.card {
  width: 15rem;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 80vw;
    margin: 0 auto;
  }
}

.amenities-card {
  margin-bottom: 60px;
  padding: 30px;
}

@media screen and (max-width: 1000px) {
  .amenities-card {
    margin: 30 auto;
    text-align: center;
  }
}

.card-body {
  height: 70px;
  background: rgba(34, 29, 31, 0.9);
  color: white;
}

.card-img,
.card-img-top {
  height: 221px;
}

.card-text {
  opacity: 1;
}

.card-text span {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.about {
  background: rgba(38, 47, 86, 0.3);
  margin-bottom: 60px;
  height: 90%;
}

@media screen and (max-width: 1000px) {
  .about .about-img {
    width: 80vw;
    margin: 0 auto;
  }
}

.img-div img {
  padding: 30% 0;
  width: auto;
  height: 100%;
}

.img-div .vl {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  height: 400px;
  padding: 30% 0;
  position: relative;
  top: 40px;
}

@media screen and (max-width: 1000px) {
  .img-div .vl {
    display: none;
  }
}

.about-div {
  padding: 15% 0;
}

.about-div h4 {
  color: black;
  font-weight: bold;
  margin-bottom: 40px;
}

.first-header p {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.second-header p {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.about-btn {
  background: #DBA7C1;
  color: black !important;
}

.room-rate h5 {
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.room-rate-info p {
  text-align: center;
  color: black;
}

.room-rate-info {
  text-align: center;
}

.rate-btn {
  background: #DBA7C1;
  color: black !important;
  margin: 10px;
  margin-bottom: 40px;
}

.room-card {
  margin-bottom: 20px;
  padding: 30px;
}

hr.rate-hr {
  border: 1px solid #000;
  margin-top: 50px;
  /* margin-bottom: 20px */
}

.facil {
  width: 34rem;
}

@media screen and (max-width: 1000px) {
  .facil {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  .facil-img {
    width: 89vw;
  }
}

.facilities h5 {
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.facilities-info p {
  text-align: center;
  color: black;
  line-height: 30px;
  margin-bottom: 40px;
}

.facilities-info {
  text-align: center;
  margin-bottom: 20px;
}

.facilities-contain {
  margin-bottom: 40px;
}
