/*Nav*/
header {
    padding: 30px;
}
                
.navbar-dark .navbar-nav .active>.nav-link {
    color: white;
                    
}
                
.phone {
    position: relative;
    top: 5px
}

@media(max-width: 850px){
    
        .navbar-collapse{
            background-color: rgba(0, 0, 0, 0.836);
            z-index: 2;
        }
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),

button:not(:disabled) {
    margin-top: 1rem;
    border-color: #DBA7C1;
    color: white;
}

