.showcase {
    height: 100vh;
    background-image: url('../img/Homepage_img.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(91, 14, 34, 0.5);
    z-index: 1;
}

.showcase__inner {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.social {
    list-style-type: none;
}


/* footer styling */

footer {
    background: rgba(91, 14, 34, 0.85);
    color: white;
    padding: 7vh 7vw;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: Merriweather Sans;
}

footer p {
    font-size: 18px;
    font-family: Merriweather Sans;
    font-style: normal;
}

footer ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: Merriweather Sans;
    font-style: normal;
}

footer .social-links {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

footer .social-links img {
    padding-left: 1.5vw;
}

footer .social-links img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

footer .footer__links {
    line-height: 34px;
}

.scrolltop {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 5px;
}

.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover {
    background: #b2b2b2;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}


/* end of footer styling */