<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="contactform.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Merriweather+Sans|">
    <title>Contact us</title>
  </head>
  <body>
    <header></header>
    <section>
      <div class="Contact-header">
        <h1 id="contactusstyled">Contact Us</h1>
        <p>WE WOULD LOVE TO HEAR FROM YOU</p>
      </div>
    </section>
  <section class="form-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 contact-text" >
            <p>
              <h2>THE COSMOPOLITAN HOTEL</h2></p>
              <p>info@thecosmopolitanhotel.com</br>+234 (0) 703 845 3547</p>
              <p>80, Ozunmba Mbadiwe Rd,</br>
            Victoria Island, Lagos,</br>
            Nigeria</p>
            <p>RESERVATION</br>
                Reservation Desk</br>
                Phone: +234-806-726-7839</br>
            reservation@thecosmospolitanhotel.com</p>
                <p>CORPORATE</br>
                    Public Relations Manager</br>
                    Phone: +234-806-726-7839</br>
                    corperate@thecosmospolitanhotel.com</p>
            </p>
          </div>
          <div class="col-md-6">
            <form action="">
              <div class="form-group">
                <label for="exampleFormControlInput1">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Phone:</label>
                <input
                  type=""
                  class="form-control"
                  id="exampleFormControlInput1"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1"
                  >Message:</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="6">
            </textarea>
            <div class="Btn-submit">
                <button type="submit" class="btn btn-primary">SEND</button>
            </div>
              </div>
            </form>
          </div>
         </div>
        </div>
    </section>
    <section class="maps">
      <div class="container-fluid">
        <iframe class="well well-sm col-md-12" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15850.084750618702!2d3.3288193!3d6.7060611!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf52ae94946ab%3A0xc41d1d8ef8230ad7!2s80%20Ozumba%20Mbadiwe%20Ave%2C%20Eti-Osa%2C%20Lagos!5e0!3m2!1sen!2sng!4v1591661144328!5m2!1sen!2sng"></iframe> 
    </section>

    <footer></footer>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
