                        @font-face {
                            font-family: 'gothan';
                            src: url('./fonts/GothamBook.ttf'), url('./fonts/GothamBold.ttf'), url('./fonts/GothamBookItalic.ttf');
                        }
                        
                        p {
                            font-family: 'gothan';
                            font-weight: normal;
                            font-style: normal;
                        }
                        /* Hallway Section */
                        
                        .head {
                            display: flex;
                            width: 80% !important;
                            margin: 0px auto;
                            justify-content: space-between !important;
                            align-items: center;
                            min-height: 100px;
                        }
                        
                        .log {
                            border: 6px solid #ffc204;
                            padding: 10px;
                            margin-top: 30px;
                            margin-left: 10%;
                        }
                        
                        .navigations {
                            margin-right: 5% !important;
                        }
                        
                        .navigations ul {
                            width: 300px;
                            display: flex;
                            justify-content: space-between;
                            list-style: none;
                            margin-top: 20px;
                        }
                        
                        .navigations ul li a,
                        .grid ul li a {
                            text-decoration: none;
                            color: #ffffff;
                            font-family: 'gothan';
                            font-weight: normal;
                        }
                        
                        .navigations ul li a:hover {
                            color: #ffc204;
                            text-decoration: none;
                        }
                        
                        .hallway_div {
                            background: url('Hallway.png') no-repeat center center fixed;
                            margin-top: 0px;
                            width: 100vw;
                            height: 100vh;
                        }
                        
                        .center-text {
                            display: flex;
                            width: 100%;
                            height: 60%;
                            justify-content: center;
                            align-items: center;
                            color: #ffffff;
                        }
                        
                        .center-text h1 {
                            font-family: 'Playfair Display', serif;
                            font-size: 4rem;
                        }
                        /* Get in touch section */
                        
                        section.get_in_touch {
                            padding: 2%;
                            padding-left: 10%;
                        }
                        
                        .contact_content {
                            display: flex;
                            flex-direction: column;
                        }
                        
                        .contact_content h3 {
                            max-width: 160px;
                            color: #8c1647;
                            border-bottom: 2px solid #ffc204;
                            margin-bottom: 30px;
                        }
                        
                        .span {
                            display: flex;
                            margin-bottom: 1.5rem;
                        }
                        
                        .span img {
                            width: 30px;
                            height: 30px;
                        }
                        
                        .span p {
                            margin-left: 1rem;
                            margin-top: 0;
                        }
                        /* Map */
                        
                        .map {
                            background: url('Map.png') no-repeat center center;
                            width: 100%;
                            min-height: 400px;
                        }
                        /* Footer */
                        
                        section.footer {
                            background-color: #8c1647;
                            padding: 20px;
                            padding-top: 40px;
                            color: #ffffff;
                        }
                        
                        section.footer {
                            background-color: #8c1647;
                            padding: 20px;
                            padding-top: 40px;
                            color: #ffffff;
                        }
                        
                        footer {
                            width: 80%;
                            margin: 0 auto;
                        }
                        
                        .grid {
                            display: flex;
                            flex-wrap: wrap;
                        }
                        
                        .grid ul {
                            list-style: none;
                            padding-left: 0;
                        }
                        
                        .grid ul li {
                            margin-bottom: 10px;
                        }
                        
                        .grid-item {
                            display: flex;
                            justify-content: space-around;
                        }
                        
                        .left {
                            min-width: 200px;
                        }
                        
                        .right {
                            margin-left: auto;
                            min-width: 400px;
                        }
                        
                        .right>.left {
                            display: flex;
                            flex-direction: column;
                            margin-right: 3rem;
                        }
                        
                        .flux {
                            margin-top: 30%;
                        }
                        
                        .spans {
                            display: flex;
                            margin-bottom: 0.2rem;
                        }
                        
                        .touch {
                            margin-left: 30px;
                        }
                        
                        .spans img {
                            width: 20px;
                            height: 20px;
                        }
                        
                        .spans p {
                            margin-left: 1rem;
                            margin-top: 0;
                        }
                        
                        @media screen and (max-width:886px) {
                            .left {
                                margin: 0 auto;
                            }
                        }
                        
                        @media screen and (max-width:500px) {
                            .right {
                                flex-direction: column;
                                align-items: center;
                            }
                            .flux {
                                margin-bottom: 20px;
                            }
                        }