

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

button{
	cursor: pointer;
}



body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 32px;
  background-color: #fff;
}

a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none;
}


.title-header{
	display: inline-block;
	font-weight: bold;
	color: #8C1648;
	font-size: 30px;
	border-bottom: 3px solid #FFC204;
}





/*Header */

.well {

  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;

}


.logo,.header-right,.well{
	background:none;
	border:none;
}

.bg{
	background: url(../img/a.png) no-repeat 0px 0px;
	background-size: 100%  100%;
	min-height: 700px;
	position:relative;
}



.logo {
	display: inline-block;
	width: auto;
	height: auto;
}

.header{
	padding: 1em 0;
	min-height: 154px;
	
}



.header-layer{
	background: rgba(0, 0, 0, 0.64);
	min-height: 700px;
}


.logo,.header-nav{
	margin-top: 1em;
	font-family: san-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
letter-spacing: 1px;
line-height: 23px;
}


.head-info {
	position: absolute;
	top: 45%;
	left: 20%;
	width: 60%;
	text-align: center;
	font-family: Playfair Display;
color: #FFFFFF;
}

.head-info h1{
	  font-size: 70px;
  font-weight: 700;
}



.nav-right ul,.nav-right ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-right ul li,.nav-right ul li a{
	display: inline-block;
}

.nav-right ul li a{
	margin: 0 23px;
	color: #fff;
	line-height: 23px;
}

.nav-right ul li a:hover{
	color: #FFC204;
}




/*End of Header */





/*Room service */


.service{
	box-shadow: 0px 23px 44px rgba(0, 0, 0, 0.25);display: inline-block;
	padding: 40px 60px;
	font-family: san-serif;
}

.service img {
	z-index: 1;
	transition: 1s;
}

.service img:hover {
	opacity: 0.8;
}



.service p,.service button{
	font-size: 18px;
	z-index: 2;
}

.service button:hover{
	opacity: 0.9;
}

.line-breaker-service{
	margin-top: 160px;
}

.service-header,.service-button-holder{
	text-align: center;
}

.service-button{
	outline: none;
	border: none;
	background-color: #8C1648;
	display: inline-block;
	padding: 10px 25px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}



/*end of Room service */


/*Footer*/

footer {
	font-family: sans-serif;

}

footer p{
	letter-spacing: 1px;
	font-weight: 300;
}

footer a:hover{
	color: #FFC204 !important;
}

/*End Footer*/


 


@media (max-width: 767px) {

	

  .head-info h1 {
    font-size: 50px;
  }


  .service {
  	padding:10px 5px;
  }

  .service .service-left{
  	padding: 0 30px;
  }

  

  
  .service-button{
  	padding: 5px 15px;
  }
 

}






/* menu icon */

.bg .menu-icon {
  cursor: pointer;
  display: none;
  margin: 30px 20px 0  0;
  position: relative;
  user-select: none;
}




.bg .menu-btn {
  display: none;
}



@media (max-width: 768px) {

  .bg .header-nav {
   
    display: none;
   	padding-top: 50px;
  }

  .bg .menu-icon:hover  .header-nav{
  	display: block;
  }

.bg .header-nav li{
	 display: block;
}
  .bg .header-nav li a{
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-decoration: none;
  }

  
  .bg .menu-icon {
    display: block;
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0px;
  }



.bg .menu-btn:checked ~ .header-nav {
  display: block;
  position: fixed;
  background-color:rgba(0,0,0,0.9); 
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes slide {

	from {
		left:-100%;
	}
	to{
		left:0px;
	}
}


.bg .menu-btn:checked ~ .menu-icon {

	position: fixed;
	top:0px;
	right: 10px;
}



}
















































